<a href="https://colab.research.google.com/github/Lakkshaayyy/RLLAB/blob/main/lab01_test_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.12

In [ ]:
x=3
print(type(x))
print (x)
print ( x**2)

<class 'int'>
3
9

In [ ]:
t=True
f=False
print(type(t))
print (t and f)
print ( t or f)

<class 'bool'>
False
True

x=5
y=10
z= x+y
str=("addition of {} and {} = {}".format(x,y,z))
print (str)

In [ ]:
x=5
y=10
z= x+y
str=("addition of {} and {} = {}".format(x,y,z))
print (str)

addition of 5 and 10 = 15

In [ ]:
List = [2,4,6]
print(List, List[2])
print(List[-1])
List[2] = 'Lak'
print(List)
List.append('Hay')
print(List)

[2, 4, 6] 6
6
[2, 4, 'Lak']
[2, 4, 'Lak', 'Hay']

In [ ]:
nums = list(range(10))
print(nums)
print(nums[4:6])
print(nums[4:])
print(nums[:6])
print(nums[:])
print(nums[:-3])
nums[6:8] = [55, 59]
nums[5:9] = [55,57]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 55, 57, 9]

In [ ]:
Classmate = ['kunal', 'harsh', 'khushal']
for x in Classmate:
    print(Classmate)

['kunal', 'harsh', 'khushal']
['kunal', 'harsh', 'khushal']
['kunal', 'harsh', 'khushal']

In [ ]:
Classmate = ['kunal', 'harsh', 'khushal']
for x in Classmate:
    print(x)

kunal
harsh
khushal

In [ ]:
Classmate = ['kunal', 'harsh', 'khushal']
for idx, x in enumerate(Classmate):
    print('*{}: {}'.format (idx + 1, x))

*1: kunal
*2: harsh
*3: khushal

In [ ]:
nums = list(range(6))
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16, 25]

In [ ]:
nums = list(range(6))
squares = [x ** 2 for x in nums]
print( squares)

[0, 1, 4, 9, 16, 25]

In [ ]:
nums = list(range(6))
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [1, 0, -1]:
    print(sign(x))

positive
zero
negative